.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  height: 100vh;
  background-color: #ddd;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  background-color: #0284c7;
  flex-direction: column;
  color: white;
  padding: 20px;
}


.sidebar h1 {
  padding-left: 30px;
}

.sidebar-nav {
  list-style-type: none !important;
  margin-left: 10px;
  padding: 0 15px;
  margin: 0;
}

.sidebar-bottom-nav {
  list-style-type: none !important;
  margin-top: 50px;
  padding-left: 10px;
}

.sidebar-nav li {
  padding: 10px 20px;
}

.sidebar-bottom-nav li {
  padding: 10px 20px;
  margin-left: 5px;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto; /* 1fr for the search bar, auto for the right section */
  align-items: center;
  padding: 20px;
  height: 100px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px; /* Adjust this value to control the spacing from the right edge */
}

.header h1 {
  background-color: white;
  padding: 10px; /* this is how i move the header text up or down */
  margin-left: 80px;  /* left or right */
  height: 60px;
  display: flex;
  color: red;
  box-sizing: border-box;
}

.header-buttons {
  display: flex;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.header-buttons button {
  padding: 12px 35px;
  margin-right: 30px;
  background-color: #0284c7;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "projects announcements"
    "projects trending-section";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 60px 15px 60px; /* padding top and padding bottom at 60*/
  background-color: #d8d8d8;
  overflow-y: auto;
}

.super-cool-project {
  grid-area: super-cool-project;
  background-color: white;
}

.projects {
  grid-area: projects;
  display: grid;
  background-color: #d8d8d8;
  grid-gap: 25px;
  grid-template-areas:
    "super-cool-project less-cool-project"
    "impossible-app easy-peasy-app"
    "ad-blocker money-maker";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.less-cool-project {
  grid-area: less-cool-project;
  background-color: white;
}

.impossible-app {
  grid-area: impossible-app;
  background-color: white;
}

.easy-peasy-app {
  grid-area: easy-peasy-app;
  background-color: white;
}

.ad-blocker {
  grid-area: ad-blocker;
  background-color: white;
}

.money-maker {
  grid-area: money-maker;
  background-color: white;
}

.announcements {
  grid-area: announcements;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /*thats how i split these sections apart and added space */
}

.trending-section {
  grid-area: trending-section;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px; /*thats how i split these sections apart and added space */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.search-bar input {
  width: 100%;
  padding: 8px 12px; /* moving search bar to the right */
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust the value to control the roundness */
  color: #333;
  background-color: #d8d8d8;
}

.greeting {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 95px;
  margin-bottom: 50px;
}