.main {
    display: grid;
    grid-template-columns: 300px 1fr; 
    height: 100vh; 
  }
  
  
  .sidebar{
    display: flex;
    flex-direction: column;
    background-color: #0284c7;
    width: 290px;
    height: 100vh;
    color: white;
    padding-left: 30px;
   }     

   .sidebar h1{
    padding-left: 30px;
   }
  
   .sidebar-nav{
    list-style-type: none !important;
    margin-left: 10px;
    padding: 0 15px;
    margin: 0;
   }
  
   .sidebar-bottom-nav{
    list-style-type: none !important;
    padding:100;
    margin-top: auto; 
    margin-bottom: 20px;
    padding-left: 10px;
   }
  
   .sidebar-nav li {
    padding: 10px 20px;
  
  }
  
  .sidebar-bottom-nav li {
    padding: 10px 20px;
    margin-left: 5px;
  }   

  .content {
    display: grid;
    grid-template-areas:
      "header header header"
      "projects projects announcements"
      "projects projects trending";
    grid-template-rows: 150px 1fr 1fr; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-gap: 65px;
    padding: 20px;
    flex-grow: 1;
    
  }
  
  .header {
    grid-area: header;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 3 fr;
  }
  
  .header h1{
    background-color: #eee;
    padding: 50px;
    display: flex;
    color: red;
    box-sizing: border-box;
  }

  .projects {
    grid-area: projects;
    display: grid;
    background-color: #ddd;
    padding: 20px;
    grid-gap: 20px;
    grid-template-areas: 
       "super-cool-project less-cool-project"
       "impossible-app easy-peasy-app"
       "ad-blocker money-maker";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .super-cool-project{
    grid-gap: 15px;
    width: 400px;
    height: 250px;
    background-color: white;
  }
  
  .announcements {
    grid-area: announcements;
    background-color: #ccc;
    padding: 20px;
  }
  
  .trending {
    grid-area: trending;
    background-color: #eee;
    padding: 20px;
  }